<div class="header moving-text">
  <div class="logo">
    <a routerLink="/">A</a>
  </div>
  <ul class="user-links" #listresponsive>
    <li><a (click)="toHome()">Home</a></li>
    <li><a (click)="toAbout()">About</a></li>
    <li><a (click)="toProjects()">Projects</a></li>
    <li><a (click)="toContact()">Contact</a></li>
    <li class="resume rounded">
      <a href="/assets/AhmedBoghdadyCV.pdf" target="_blank">Resume</a>
    </li>
  </ul>
  <div class="burger" (click)="toggleMenu()">
    <span class="line-1" #line1></span>
    <span class="line-2" #line2></span>
    <span class="line-3" #line3></span>
  </div>
</div>
