<div class="container about">
  <div class="row">
    <div class="col-md-8 loaded-txt">
      <h1 class="text-white">About Me</h1>
      <p class="content-text">
        Hello, There. <br />I'm Ahmed Mohamed Boghdady, Graduated from faculty
        of computers and Informatics, Zagazig University Information Technology
        Department, I worked as system administrator for almost 3 years but i
        shifted my career to become a software Engineer.
      </p>
      <div class="list mt-5">
        <h4 class="h6 mb-3">
          Here are a few technologies i've been working with
        </h4>
        <div class="row list-skills">
          <ul class="col-md-6 ul-1 w-50">
            <li><span>JavaScript</span></li>
            <li><span>TypeScript</span></li>
            <li><span>Angular</span></li>
            <li><span>SASS</span></li>
            <li><span>Tailwind</span></li>
            <li><span>Bootstrap</span></li>
          </ul>
          <ul class="col-md-6 ul-2 w-50">
            <li><span>Jasmine</span></li>
            <li><span>HTML</span></li>
            <li><span>CSS</span></li>
            <li><span>Git</span></li>
            <li><span>API</span></li>
            <li><span>Angular Materials</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img">
        <img src="assets/me.jpeg" class="w-100 img-fluid me" alt="" />
      </div>
    </div>
  </div>
</div>
